body {
    font-family: 'Caveat', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #4a2c2a; /* Более насыщенный цвет текста */
    background-color: #f8f0e3; /* Светлый фон для контраста */
}

.container {
    max-width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #d9534f; /* Яркий, но брутальный цвет кнопок */
    color: #fff; /* Белый текст на кнопках */
    font-family: 'Caveat', cursive;
    font-weight: 700;
}

button:hover {
    background-color: #c9302c; /* Темнее при наведении */
}

#result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px; /* Увеличенный шрифт */
    color: #4a2c2a;
}

#nextQuestion, #retryQuestion {
    display: none;
    background-color: #5cb85c; /* Зеленый для кнопок */
    color: #fff;
}

#nextQuestion:hover, #retryQuestion:hover {
    background-color: #4cae4c; /* Темнее при наведении */
}

#finalScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#finalScreen h1 {
    color: #d9534f; /* Яркий акцент */
    font-size: 48px;
}

#finalScreen p {
    font-size: 24px;
    margin: 10px 0;
    color: #4a2c2a;
}

#downloadLink {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5cb85c; /* Зеленый для кнопки скачивания */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#downloadLink:hover {
    background-color: #4cae4c; /* Темнее при наведении */
}

#finalGif {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

#stickerLink {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #5cb85c; /* Зеленый, как у кнопки "Скачать" */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

#stickerLink:hover {
    background-color: #4cae4c; /* Темнее при наведении */
}